In [46]:
import pandas as pd
import numpy as np
from ucimlrepo import fetch_ucirepo
from openml import datasets

openml_datasets_index = pd.read_csv('openml_datasets_index.csv')
uci_datasets_index = pd.read_csv('uci_datasets_index.csv')

openml_index = openml_datasets_index
uci_index = uci_datasets_index

In [80]:
from math import ceil
openml_index = openml_datasets_index
uci_index = uci_datasets_index


openml_index = openml_index[openml_index['NumberOfClasses'] == 2]
openml_index = openml_index[openml_index['NumberOfMissingValues'] == 0]
openml_index = openml_index[openml_index['NumberOfInstancesWithMissingValues'] == 0]

passing_dids = []
for _row in openml_index.iterrows():
    row = _row[1]
    
    dataset_size = row['NumberOfInstances']
    pos_prop = row['MajorityClassSize'] / dataset_size
    neg_prop = row['MinorityClassSize'] / dataset_size

    sample_size = 100
    test_size = 0.5

    pos_number_sample_test = ceil(pos_prop * dataset_size * test_size)
    neg_number_sample_test = ceil(neg_prop * dataset_size * test_size)

    if pos_number_sample_test > sample_size and neg_number_sample_test > sample_size:
        passing_dids.append(row['did'])

openml_index = openml_index[openml_index['did'].isin(passing_dids)]
print(len(passing_dids))

908

In [74]:
openml_index

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
1,3,kr-vs-kp,1,1,active,ARFF,1669.0,3.0,1527.0,2.0,37.0,3196.0,0.0,0.0,0.0,37.0
13,15,breast-w,1,1,active,ARFF,458.0,2.0,241.0,2.0,10.0,699.0,16.0,16.0,9.0,1.0
19,24,mushroom,1,1,active,ARFF,4208.0,12.0,3916.0,2.0,23.0,8124.0,2480.0,2480.0,0.0,23.0
24,29,credit-approval,1,1,active,ARFF,383.0,14.0,307.0,2.0,16.0,690.0,37.0,67.0,6.0,10.0
26,31,credit-g,1,1,active,ARFF,700.0,10.0,300.0,2.0,21.0,1000.0,0.0,0.0,7.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5861,46554,Loan_Status,2,45956,active,arff,35000.0,NaN,10000.0,2.0,14.0,45000.0,0.0,0.0,8.0,6.0
5869,46562,German-Credit-Data-Creditability-Preprocessed-...,1,45575,active,arff,700.0,NaN,300.0,2.0,34.0,1000.0,0.0,0.0,33.0,1.0
5870,46563,Loan_Approval_Status_Classification,2,45956,active,arff,35000.0,NaN,10000.0,2.0,14.0,45000.0,0.0,0.0,13.0,1.0
5872,46565,Loan_Approval_Status,1,45956,active,arff,35000.0,NaN,10000.0,2.0,14.0,45000.0,0.0,0.0,13.0,1.0
5874,46567,Financial_Indicators_US_Stocks,1,45956,active,arff,3046.0,NaN,1346.0,2.0,231.0,4392.0,4392.0,93949.0,230.0,1.0

In [34]:
did = openml_datasets_index.index[0]

dataset = openml.datasets.get_dataset(int(did))

X, y, categorical_indicator, attribute_names = dataset.get_data(
    dataset_format="dataframe", target=dataset.default_target_attribute
)

In [35]:
X

,family,product-type,steel,carbon,hardness,temper_rolling,condition,formability,strength,non-ageing,...,s,p,shape,thick,width,len,oil,bore,packing,class
0,NaN,C,A,8.0,0.0,NaN,S,NaN,0.0,NaN,...,NaN,NaN,COIL,0.700,610.0,0.0,NaN,0,NaN,3
1,NaN,C,R,0.0,0.0,NaN,S,2,0.0,NaN,...,NaN,NaN,COIL,3.200,610.0,0.0,NaN,0,NaN,3
2,NaN,C,R,0.0,0.0,NaN,S,2,0.0,NaN,...,NaN,NaN,SHEET,0.700,1300.0,762.0,NaN,0,NaN,3
3,NaN,C,A,0.0,60.0,T,NaN,NaN,0.0,NaN,...,NaN,NaN,COIL,2.801,385.1,0.0,NaN,0,NaN,3
4,NaN,C,A,0.0,60.0,T,NaN,NaN,0.0,NaN,...,NaN,NaN,SHEET,0.801,255.0,269.0,NaN,0,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,NaN,C,R,0.0,0.0,NaN,S,3,0.0,NaN,...,NaN,NaN,SHEET,1.599,610.0,762.0,NaN,0,NaN,2
894,NaN,C,R,0.0,0.0,NaN,S,3,0.0,NaN,...,NaN,NaN,SHEET,1.601,830.0,880.0,NaN,0,NaN,2
895,NaN,C,V,0.0,0.0,NaN,S,2,0.0,NaN,...,NaN,NaN,SHEET,1.599,150.0,762.0,NaN,0,NaN,2
896,NaN,C,A,0.0,85.0,T,NaN,NaN,0.0,NaN,...,NaN,NaN,COIL,0.400,20.0,0.0,NaN,0,NaN,U
897,NaN,C,A,0.0,85.0,T,NaN,NaN,0.0,NaN,...,NaN,NaN,COIL,4.000,610.0,0.0,NaN,500,NaN,U

In [32]:

X['class']

KeyError: 'class'